{{ define "main" }}
<div class="col-12 col-md-8 col-lg-9 content-column white-background">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="row">
        <div class="col-lg-8">
            <div class="content-column-content">
                <div class="post-content">
                    <h1>{{ .Title }}</h1>
                    {{ if .Page.Params.viewer }}
                    <div id="viewer" attr-src="{{ .Page.Params.viewer }}"></div>
                    {{ end }}
                    {{ .Content }}
                </div>
                <div class="text-muted text-small">Tags:
                    {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}" class="badge badge-pill bg-light text-body border mr-1 my-badge">
                        <i class="fas fa-tag mr-1"></i>
                        {{ .LinkTitle }}
                    </a>
                    {{ end }}
                </div>
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</div>
{{ partial "photoswipe/single.html" . }}
{{ end }}
