<div class="col-xs-12 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    {{ if .Data.Term }}
        <a href="/"  class="badge badge-pill bg-light text-body border mr-1 my-badge clear-tag-button text-small">
            {{ .Data.Term}}
            <i class="fas fa-times-circle ml-1"></i>
        </a>
    {{ end }}
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 masonry-item" data-tags="{{ if .Params.tags }} {{ range .Params.tags }} {{ . }} {{ end }} {{ end }}">
                  <div class="box-masonry">
                      <a href="{{ .Permalink }}">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <div class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <div href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </div>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>{{ .Title }}</h4>
                          <div class="box-masonry-description">
                            <p class="box-masonry-description-date text-uppercase">{{ .Date.Format "January 2, 2006" }}</p>
                            <p>
                                {{ if .Description }}
                                  {{ .Description | plainify}}
                                {{ else }}
                                  {{ .Summary | plainify }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                      </a>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
